In [1]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as sns
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression as LinReg
from sklearn import metrics
%matplotlib inline

In [2]:
df = pd.read_csv('tmdb-movies (1).csv')

In [3]:
df.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09

In [4]:
df.tail()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
10861,21,tt0060371,0.080598,0,0,The Endless Summer,Michael Hynson|Robert August|Lord 'Tally Ho' B...,NaN,Bruce Brown,NaN,...,"The Endless Summer, by Bruce Brown, is one of ...",95,Documentary,Bruce Brown Films,6/15/66,11,7.4,1966,0.000000,0.0
10862,20379,tt0060472,0.065543,0,0,Grand Prix,James Garner|Eva Marie Saint|Yves Montand|Tosh...,NaN,John Frankenheimer,Cinerama sweeps YOU into a drama of speed and ...,...,Grand Prix driver Pete Aron is fired by his te...,176,Action|Adventure|Drama,Cherokee Productions|Joel Productions|Douglas ...,12/21/66,20,5.7,1966,0.000000,0.0
10863,39768,tt0060161,0.065141,0,0,Beregis Avtomobilya,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...,NaN,Eldar Ryazanov,NaN,...,An insurance agent who moonlights as a carthie...,94,Mystery|Comedy,Mosfilm,1/1/66,11,6.5,1966,0.000000,0.0
10864,21449,tt0061177,0.064317,0,0,"What's Up, Tiger Lily?",Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,NaN,Woody Allen,WOODY ALLEN STRIKES BACK!,...,"In comic Woody Allen's film debut, he took the...",80,Action|Comedy,Benedict Pictures Corp.,11/2/66,22,5.4,1966,0.000000,0.0
10865,22293,tt0060666,0.035919,19000,0,Manos: The Hands of Fate,Harold P. Warren|Tom Neyman|John Reynolds|Dian...,NaN,Harold P. Warren,It's Shocking! It's Beyond Your Imagination!,...,A family gets lost on the road and stumbles up...,74,Horror,Norm-Iris,11/15/66,15,1.5,1966,127642.279154,0.0

In [5]:
df.shape

(10866, 21)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
id                      10866 non-null int64
imdb_id                 10856 non-null object
popularity              10866 non-null float64
budget                  10866 non-null int64
revenue                 10866 non-null int64
original_title          10866 non-null object
cast                    10790 non-null object
homepage                2936 non-null object
director                10822 non-null object
tagline                 8042 non-null object
keywords                9373 non-null object
overview                10862 non-null object
runtime                 10866 non-null int64
genres                  10843 non-null object
production_companies    9836 non-null object
release_date            10866 non-null object
vote_count              10866 non-null int64
vote_average            10866 non-null float64
release_year            10866 non-null int64
budget_adj              10866 non-null float64
revenue_adj             10866 non-null float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

In [7]:
df.describe()

,id,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,budget_adj,revenue_adj
count,10866.000000,10866.000000,1.086600e+04,1.086600e+04,10866.000000,10866.000000,10866.000000,10866.000000,1.086600e+04,1.086600e+04
mean,66064.177434,0.646441,1.462570e+07,3.982332e+07,102.070863,217.389748,5.974922,2001.322658,1.755104e+07,5.136436e+07
std,92130.136561,1.000185,3.091321e+07,1.170035e+08,31.381405,575.619058,0.935142,12.812941,3.430616e+07,1.446325e+08
min,5.000000,0.000065,0.000000e+00,0.000000e+00,0.000000,10.000000,1.500000,1960.000000,0.000000e+00,0.000000e+00
25%,10596.250000,0.207583,0.000000e+00,0.000000e+00,90.000000,17.000000,5.400000,1995.000000,0.000000e+00,0.000000e+00
50%,20669.000000,0.383856,0.000000e+00,0.000000e+00,99.000000,38.000000,6.000000,2006.000000,0.000000e+00,0.000000e+00
75%,75610.000000,0.713817,1.500000e+07,2.400000e+07,111.000000,145.750000,6.600000,2011.000000,2.085325e+07,3.369710e+07
max,417859.000000,32.985763,4.250000e+08,2.781506e+09,900.000000,9767.000000,9.200000,2015.000000,4.250000e+08,2.827124e+09

In [8]:
df.columns

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'original_title',
       'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview',
       'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj'],
      dtype='object')

In [9]:
df.nunique()

id                      10865
imdb_id                 10855
popularity              10814
budget                    557
revenue                  4702
original_title          10571
cast                    10719
homepage                 2896
director                 5067
tagline                  7997
keywords                 8804
overview                10847
runtime                   247
genres                   2039
production_companies     7445
release_date             5909
vote_count               1289
vote_average               72
release_year               56
budget_adj               2614
revenue_adj              4840
dtype: int64

In [10]:
df.isnull().sum()

id                         0
imdb_id                   10
popularity                 0
budget                     0
revenue                    0
original_title             0
cast                      76
homepage                7930
director                  44
tagline                 2824
keywords                1493
overview                   4
runtime                    0
genres                    23
production_companies    1030
release_date               0
vote_count                 0
vote_average               0
release_year               0
budget_adj                 0
revenue_adj                0
dtype: int64

In [11]:
zero_revenue = df.query('revenue == 0')
zero_revenue

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
48,265208,tt2231253,2.932340,30000000,0,Wild Card,Jason Statham|Michael Angarano|Milo Ventimigli...,NaN,Simon West,Never bet against a man with a killer hand.,...,When a Las Vegas bodyguard with lethal skills ...,92,Thriller|Crime|Drama,Current Entertainment|Lionsgate|Sierra / Affin...,1/14/15,481,5.3,2015,2.759999e+07,0.0
67,334074,tt3247714,2.331636,20000000,0,Survivor,Pierce Brosnan|Milla Jovovich|Dylan McDermott|...,http://survivormovie.com/,James McTeigue,His Next Target is Now Hunting Him,...,A Foreign Service Officer in London tries to p...,96,Crime|Thriller|Action,Nu Image Films|Winkler Films|Millennium Films|...,5/21/15,280,5.4,2015,1.839999e+07,0.0
74,347096,tt3478232,2.165433,0,0,Mythica: The Darkspore,Melanie Stone|Kevin Sorbo|Adam Johnson|Jake St...,http://www.mythicamovie.com/#!blank/wufvh,Anne K. Black,NaN,...,When Teelaâ€™s sister is murdered and a powerf...,108,Action|Adventure|Fantasy,Arrowstorm Entertainment,6/24/15,27,5.1,2015,0.000000e+00,0.0
75,308369,tt2582496,2.141506,0,0,Me and Earl and the Dying Girl,Thomas Mann|RJ Cyler|Olivia Cooke|Connie Britt...,http://www.foxsearchlight.com/meandearlandthed...,Alfonso Gomez-Rejon,A Little Friendship Never Killed Anyone.,...,Greg is coasting through senior year of high s...,105,Comedy|Drama,Indian Paintbrush,6/12/15,569,7.7,2015,0.000000e+00,0.0
92,370687,tt3608646,1.876037,0,0,Mythica: The Necromancer,Melanie Stone|Adam Johnson|Kevin Sorbo|Nicola ...,http://www.mythicamovie.com/#!blank/y9ake,A. Todd Smith,NaN,...,Mallister takes Thane prisoner and forces Mare...,0,Fantasy|Action|Adventure,Arrowstorm Entertainment|Camera 40 Productions...,12/19/15,11,5.4,2015,0.000000e+00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10861,21,tt0060371,0.080598,0,0,The Endless Summer,Michael Hynson|Robert August|Lord 'Tally Ho' B...,NaN,Bruce Brown,NaN,...,"The Endless Summer, by Bruce Brown, is one of ...",95,Documentary,Bruce Brown Films,6/15/66,11,7.4,1966,0.000000e+00,0.0
10862,20379,tt0060472,0.065543,0,0,Grand Prix,James Garner|Eva Marie Saint|Yves Montand|Tosh...,NaN,John Frankenheimer,Cinerama sweeps YOU into a drama of speed and ...,...,Grand Prix driver Pete Aron is fired by his te...,176,Action|Adventure|Drama,Cherokee Productions|Joel Productions|Douglas ...,12/21/66,20,5.7,1966,0.000000e+00,0.0
10863,39768,tt0060161,0.065141,0,0,Beregis Avtomobilya,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...,NaN,Eldar Ryazanov,NaN,...,An insurance agent who moonlights as a carthie...,94,Mystery|Comedy,Mosfilm,1/1/66,11,6.5,1966,0.000000e+00,0.0
10864,21449,tt0061177,0.064317,0,0,"What's Up, Tiger Lily?",Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,NaN,Woody Allen,WOODY ALLEN STRIKES BACK!,...,"In comic Woody Allen's film debut, he took the...",80,Action|Comedy,Benedict Pictures Corp.,11/2/66,22,5.4,1966,0.000000e+00,0.0
10865,22293,tt0060666,0.035919,19000,0,Manos: The Hands of Fate,Harold P. Warren|Tom Neyman|John Reynolds|Dian...,NaN,Harold P. Warren,It's Shocking! It's Beyond Your Imagination!,...,A family gets lost on the road and stumbles up...,74,Horror,Norm-Iris,11/15/66,15,1.5,1966,1.276423e+05,0.0

In [12]:
zero_revenue.shape

(6016, 21)

In [13]:
zero_budget = df.query('budget == 0')
zero_budget

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
30,280996,tt3168230,3.927333,0,29355203,Mr. Holmes,Ian McKellen|Milo Parker|Laura Linney|Hattie M...,http://www.mrholmesfilm.com/,Bill Condon,The man behind the myth,...,"The story is set in 1947, following a long-ret...",103,Mystery|Drama,BBC Films|See-Saw Films|FilmNation Entertainme...,6/19/15,425,6.4,2015,0.0,2.700677e+07
36,339527,tt1291570,3.358321,0,22354572,Solace,Abbie Cornish|Jeffrey Dean Morgan|Colin Farrel...,NaN,Afonso Poyart,"A serial killer who can see your future, a psy...",...,"A psychic doctor, John Clancy, works with an F...",101,Crime|Drama|Mystery,Eden Rock Media|FilmNation Entertainment|Flynn...,9/3/15,474,6.2,2015,0.0,2.056620e+07
72,284289,tt2911668,2.272044,0,45895,Beyond the Reach,Michael Douglas|Jeremy Irvine|Hanna Mangan Law...,NaN,Jean-Baptiste LÃ©onetti,NaN,...,A high-rolling corporate shark and his impover...,95,Thriller,Furthur Films,4/17/15,81,5.5,2015,0.0,4.222338e+04
74,347096,tt3478232,2.165433,0,0,Mythica: The Darkspore,Melanie Stone|Kevin Sorbo|Adam Johnson|Jake St...,http://www.mythicamovie.com/#!blank/wufvh,Anne K. Black,NaN,...,When Teelaâ€™s sister is murdered and a powerf...,108,Action|Adventure|Fantasy,Arrowstorm Entertainment,6/24/15,27,5.1,2015,0.0,0.000000e+00
75,308369,tt2582496,2.141506,0,0,Me and Earl and the Dying Girl,Thomas Mann|RJ Cyler|Olivia Cooke|Connie Britt...,http://www.foxsearchlight.com/meandearlandthed...,Alfonso Gomez-Rejon,A Little Friendship Never Killed Anyone.,...,Greg is coasting through senior year of high s...,105,Comedy|Drama,Indian Paintbrush,6/12/15,569,7.7,2015,0.0,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10860,5060,tt0060214,0.087034,0,0,Carry On Screaming!,Kenneth Williams|Jim Dale|Harry H. Corbett|Joa...,NaN,Gerald Thomas,Carry On Screaming with the Hilarious CARRY ON...,...,The sinister Dr Watt has an evil scheme going....,87,Comedy,Peter Rogers Productions|Anglo-Amalgamated Fil...,5/20/66,13,7.0,1966,0.0,0.000000e+00
10861,21,tt0060371,0.080598,0,0,The Endless Summer,Michael Hynson|Robert August|Lord 'Tally Ho' B...,NaN,Bruce Brown,NaN,...,"The Endless Summer, by Bruce Brown, is one of ...",95,Documentary,Bruce Brown Films,6/15/66,11,7.4,1966,0.0,0.000000e+00
10862,20379,tt0060472,0.065543,0,0,Grand Prix,James Garner|Eva Marie Saint|Yves Montand|Tosh...,NaN,John Frankenheimer,Cinerama sweeps YOU into a drama of speed and ...,...,Grand Prix driver Pete Aron is fired by his te...,176,Action|Adventure|Drama,Cherokee Productions|Joel Productions|Douglas ...,12/21/66,20,5.7,1966,0.0,0.000000e+00
10863,39768,tt0060161,0.065141,0,0,Beregis Avtomobilya,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...,NaN,Eldar Ryazanov,NaN,...,An insurance agent who moonlights as a carthie...,94,Mystery|Comedy,Mosfilm,1/1/66,11,6.5,1966,0.0,0.000000e+00
10864,21449,tt0061177,0.064317,0,0,"What's Up, Tiger Lily?",Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,NaN,Woody Allen,WOODY ALLEN STRIKES BACK!,...,"In comic Woody Allen's film debut, he took the...",80,Action|Comedy,Benedict Pictures Corp.,11/2/66,22,5.4,1966,0.0,0.000000e+00

In [14]:
zero_budget = df.query('budget==0')
zero_budget

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
30,280996,tt3168230,3.927333,0,29355203,Mr. Holmes,Ian McKellen|Milo Parker|Laura Linney|Hattie M...,http://www.mrholmesfilm.com/,Bill Condon,The man behind the myth,...,"The story is set in 1947, following a long-ret...",103,Mystery|Drama,BBC Films|See-Saw Films|FilmNation Entertainme...,6/19/15,425,6.4,2015,0.0,2.700677e+07
36,339527,tt1291570,3.358321,0,22354572,Solace,Abbie Cornish|Jeffrey Dean Morgan|Colin Farrel...,NaN,Afonso Poyart,"A serial killer who can see your future, a psy...",...,"A psychic doctor, John Clancy, works with an F...",101,Crime|Drama|Mystery,Eden Rock Media|FilmNation Entertainment|Flynn...,9/3/15,474,6.2,2015,0.0,2.056620e+07
72,284289,tt2911668,2.272044,0,45895,Beyond the Reach,Michael Douglas|Jeremy Irvine|Hanna Mangan Law...,NaN,Jean-Baptiste LÃ©onetti,NaN,...,A high-rolling corporate shark and his impover...,95,Thriller,Furthur Films,4/17/15,81,5.5,2015,0.0,4.222338e+04
74,347096,tt3478232,2.165433,0,0,Mythica: The Darkspore,Melanie Stone|Kevin Sorbo|Adam Johnson|Jake St...,http://www.mythicamovie.com/#!blank/wufvh,Anne K. Black,NaN,...,When Teelaâ€™s sister is murdered and a powerf...,108,Action|Adventure|Fantasy,Arrowstorm Entertainment,6/24/15,27,5.1,2015,0.0,0.000000e+00
75,308369,tt2582496,2.141506,0,0,Me and Earl and the Dying Girl,Thomas Mann|RJ Cyler|Olivia Cooke|Connie Britt...,http://www.foxsearchlight.com/meandearlandthed...,Alfonso Gomez-Rejon,A Little Friendship Never Killed Anyone.,...,Greg is coasting through senior year of high s...,105,Comedy|Drama,Indian Paintbrush,6/12/15,569,7.7,2015,0.0,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10860,5060,tt0060214,0.087034,0,0,Carry On Screaming!,Kenneth Williams|Jim Dale|Harry H. Corbett|Joa...,NaN,Gerald Thomas,Carry On Screaming with the Hilarious CARRY ON...,...,The sinister Dr Watt has an evil scheme going....,87,Comedy,Peter Rogers Productions|Anglo-Amalgamated Fil...,5/20/66,13,7.0,1966,0.0,0.000000e+00
10861,21,tt0060371,0.080598,0,0,The Endless Summer,Michael Hynson|Robert August|Lord 'Tally Ho' B...,NaN,Bruce Brown,NaN,...,"The Endless Summer, by Bruce Brown, is one of ...",95,Documentary,Bruce Brown Films,6/15/66,11,7.4,1966,0.0,0.000000e+00
10862,20379,tt0060472,0.065543,0,0,Grand Prix,James Garner|Eva Marie Saint|Yves Montand|Tosh...,NaN,John Frankenheimer,Cinerama sweeps YOU into a drama of speed and ...,...,Grand Prix driver Pete Aron is fired by his te...,176,Action|Adventure|Drama,Cherokee Productions|Joel Productions|Douglas ...,12/21/66,20,5.7,1966,0.0,0.000000e+00
10863,39768,tt0060161,0.065141,0,0,Beregis Avtomobilya,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...,NaN,Eldar Ryazanov,NaN,...,An insurance agent who moonlights as a carthie...,94,Mystery|Comedy,Mosfilm,1/1/66,11,6.5,1966,0.0,0.000000e+00
10864,21449,tt0061177,0.064317,0,0,"What's Up, Tiger Lily?",Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,NaN,Woody Allen,WOODY ALLEN STRIKES BACK!,...,"In comic Woody Allen's film debut, he took the...",80,Action|Comedy,Benedict Pictures Corp.,11/2/66,22,5.4,1966,0.0,0.000000e+00

In [15]:
zero_budget.shape

(5696, 21)

In [16]:
zero_runtime = df.query('runtime==0')
zero_runtime

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
92,370687,tt3608646,1.876037,0,0,Mythica: The Necromancer,Melanie Stone|Adam Johnson|Kevin Sorbo|Nicola ...,http://www.mythicamovie.com/#!blank/y9ake,A. Todd Smith,NaN,...,Mallister takes Thane prisoner and forces Mare...,0,Fantasy|Action|Adventure,Arrowstorm Entertainment|Camera 40 Productions...,12/19/15,11,5.4,2015,0.000000e+00,0.0
334,361931,tt5065822,0.357654,0,0,Ronaldo,Cristiano Ronaldo,http://www.ronaldothefilm.com,Anthony Wonke,Astonishing. Intimate. Definitive.,...,Filmed over 14 months with unprecedented acces...,0,Documentary,"On The Corner Films|We Came, We Saw, We Conque...",11/9/15,80,6.5,2015,0.000000e+00,0.0
410,339342,tt2948712,0.097514,0,0,Anarchy Parlor,Robert LaSardo|Jordan James Smith|Sara Fabel|T...,NaN,Kenny Gage|Devon Downs,NaN,...,Six young college hopefuls vacationing and par...,0,Horror,NaN,1/1/15,15,5.6,2015,0.000000e+00,0.0
445,353345,tt3800796,0.218528,0,0,The Exorcism of Molly Hartley,Sarah Lind|Devon Sawa|Gina Holden|Peter MacNei...,NaN,Steven R. Monroe,NaN,...,Taking place years after The Haunting of Molly...,0,Horror,WT Canada Productions,10/9/15,52,5.0,2015,0.000000e+00,0.0
486,333653,tt4058368,0.176744,0,0,If There Be Thorns,Heather Graham|Jason Lewis|Rachael Carpani|Mas...,NaN,Nancy Savoca,NaN,...,The third installment in V.C. Andrewsâ€™ bests...,0,TV Movie|Drama,A+E Studios|Jane Startz Productions,4/5/15,11,5.4,2015,0.000000e+00,0.0
595,341051,tt2914740,0.028725,0,0,Deep Dark,Sean McGrath|Denise Poirier|Anne Sorce|Tabor H...,http://deepdarkmovie.com,Michael Medaglia,NaN,...,Fantasy - A failed sculptor discovers a strang...,0,Horror,NaN,1/1/15,11,4.6,2015,0.000000e+00,0.0
616,325843,tt4333210,0.026797,0,0,The Outfield,Cameron Dallas|Hamilton Nash Grier|Olivia Stuc...,NaN,Michael Goldfine,NaN,...,The film follows a trio of varsity baseball pl...,0,Drama|Comedy,NaN,11/10/15,20,6.6,2015,0.000000e+00,0.0
1241,296370,tt3024964,0.135376,0,0,Dance-Off,Kathryn McCormick|Shane Harper|Finola Hughes|C...,NaN,NaN,NaN,...,DANCE-OFF is a tongue-in-cheek family comedy s...,0,Romance|Music|Comedy,NaN,1/1/14,18,5.7,2014,0.000000e+00,0.0
1289,286372,tt1791681,0.037459,3250000,0,Treehouse,J. Michael Trautmann|Dana Melanie|Daniel Fredr...,http://www.imdb.com/title/tt1791681/,Michael G. Bartlett,No kids allowed,...,A teenage boy discovers the perpetrators of se...,0,Thriller|Horror|Mystery,Tiberius Film,10/20/14,16,3.4,2014,2.993546e+06,0.0
1293,286256,tt3134058,0.036904,0,0,Tim Maia,Robson Nunes|BabÃº Santana|Alinne Moraes|CauÃ£...,NaN,Mauro Lima,Original language PORTUGUESE,...,"Biopic of Brazilian singer Tim Maia, from his ...",0,Documentary|Drama|Music,Globo Filmes,10/30/14,14,6.0,2014,0.000000e+00,0.0
1849,18247,tt1212986,0.120350,0,0,Spectacular!,Nolan Gerard Funk|Jesse Moss|Britt Irvin|Tammi...,NaN,Robert Iscove,NaN,...,"A high school choir is fading in popularity, a...",0,Drama|Music,NaN,2/16/09,13,5.2,2009,0.000000e+00,0.0
2315,48373,tt1274296,0.171615,0,0,Listen to Your Heart,Alexia Rasmussen|Kent Moran|Cybill Shepherd|Sh...,http://www.listentoyourheartfilm.com/,NaN,One song can change your life.,...,Danny Foster doesn't have much: an apartment a...,0,Drama|Music|Romance,NaN,8/14/10,29,7.3,2010,0.000000e+00,0.0
2370,127717,tt1525359,0.081892,0,0,Freshman Father,Britt Irvin|Merrilyn Gann|Barbara Tyson|Anthon...,NaN,Michael Scott,NaN,...,NaN,0,NaN,NaN,6/5/10,12,5.8,2010,0.000000e+00,0.0
3329,20414,tt1077026,0.082898,0,0,"Grande, grosso e Verdone",Carlo Verdone|Claudia Gerini|Eva Riccobono|Vit...,NaN,Carlo Verdone,NaN,...,No overview found.,0,Family,Filmauro,3/7/08,35,5.3,2008,0.000000e+00,0.0
3794,58253,tt1588335,0.183134,0,0,"Toi, moi, les autres",LeÃ¯la Bekhti|Benjamin Siksou|CÃ©cile Cassel|C...,http://www.google.fr/m/url?ei=e3BxTcjeLMqB8wP6...,Audrey Estrougo,NaN,...,NaN,0,Music|Romance,NaN,2/22/11,17,5.2,2011,0.000000e+00,0.0
3857,289097,tt1288636,0.095583,0,0,Cell 213,Bruce Greenwood|Eric Balfour|Michael Rooker|De...,NaN,Stephen Kay,NaN,...,Cocky young attorney Michael Gray finds himsel...,0,Horror,Access Motion Pictures,6/10/11,13,5.2,2011,0.000000e+00,0.0
3884,105885,tt1754944,0.045198,0,0,eCupid,Houston Rhines|Andy Anderson|John Callahan|Gal...,NaN,J.C. Calciano,NaN,...,From the director of Is It Just Me? comes this...,0,Romance,NaN,6/23/11,12,4.6,2011,0.000000e+00,0.0
4063,28004,tt0359639,0.371510,6000000,0,Madea's Family Reunion,Tyler Perry|Blair Underwood|Lynn Whitfield|Bor...,NaN,Tyler Perry,NaN,...,"Just as the southern matriarch, Madea buries h...",0,Comedy,NaN,1/25/02,49,5.9,2002,7.273568e+06,0.0
4138,44266,tt0242953,0.035895,0,0,A Time for Dancing,Larisa Oleynik|Shiri Appleby|Peter Coyote|Patr...,NaN,Peter Gilbert,NaN,...,"Their love of dance, and their friendship, is ...",0,Drama|Music,NaN,9/6/02,14,7.5,2002,0.000000e+00,0.0
4829,110490,tt1910605,0.140016,0,0,Rags,Keke Palmer|Avan Jogia|Drake Bell|Burkely Duff...,NaN,Bille Woodruff,NaN,...,"Rags follows the story of Charlie Prince, an o...",0,TV Movie|Comedy|Drama,NaN,5/28/12,24,5.7,2012,0.000000e+00,0.0
4944,158150,tt2395247,0.026459,0,0,How to Fall in Love,Brooke D'Orsay|Eric Mabius|Jody Thompson|Gina ...,NaN,Mark Griffiths,NaN,...,"An accountant, who never quite grew out of his...",0,Comedy|Romance|TV Movie,Annuit Coeptis Entertainment Inc.|Annuit Coept...,7/21/12,11,4.7,2012,0.000000e+00,0.0
5216,28003,tt0427481,0.073665,0,0,Madea's Class Reunion,Tyler Perry|Chandra Currelley|Cheryl Pepsii Ri...,NaN,Tyler Perry,NaN,...,"Madea is traveling to the Pandora Hotel, where...",0,Comedy|Music,NaN,6/25/03,12,6.9,2003,0.000000e+00,0.0
5695,224815,tt2881698,0.417739,0,0,Skinwalker Ranch,Steve Berg|Kyle Davis|Erin Cahill|Jon Gries|De...,NaN,Devin McGinn,NaN,...,In 2010 â€œSkinwalker Ranchâ€ gained media at...,0,Thriller|Horror|Science Fiction,DeepStudios,10/30/13,27,4.3,2013,0.000000e+00,0.0
5920,248842,tt2364006,0.165765,0,0,The Food Guide to Love,Richard Coyle|Leonor Watling|GinÃ©s GarcÃ­a Mi...,NaN,Dominic Harari|Teresa Pelegri,NaN,...,A dysfunctional love story about an Irish food...,0,Romance|Comedy,Haut et Court|Parallel Film Productions|Fox In...,12/18/13,12,5.6,2013,0.000000e+00,0.0
5938,191562,tt2436516,0.147188,0,0,Go Goa Gone,Saif Ali Khan|Anand Tiwari|Vir Das|Pooja Gupta,NaN,Krishna D.K.|Raj Nidimoru,NaN,...,"A rave party off the coast of Goa, goes horrif...",0,Comedy|Horror,Eros International,5/10/13,16,5.3,2013,0.000000e+00,0.0
5992,173847,tt2343371,0.096455,0,0,Amiche da morire,Claudia Gerini|Cristiana Capotondi|Sabrina Imp...,NaN,Giorgia Farina,NaN,...,Three very different women who are hiding a se...,0,Romance|Crime|Comedy,NaN,3/7/13,30,5.5,2013,0.000000e+00,0.0
6040,202604,tt3043194,0.011798,0,0,The Vatican Exorcisms,Joe Marino,NaN,Joe Marino,The public were never meant to know,...,Documentary following US film-maker Joe Marino...,0,Horror|Documentary|Mystery,NaN,5/29/13,10,4.7,2013,0.000000e+00,0.0
6383,26985,tt0405615,0.371630,2000000,0,The 12 Dogs of Christmas,Jordan-Claire Green|Tom Kemp|Susan Wood|Adam H...,NaN,Kieth Merrill,NaN,...,This holiday tale has all the elements of a cl...,0,Drama|Family,NaN,11/1/05,11,4.7,2005,2.233127e+06,0.0
6552,13739,tt0448245,0.006440,0,0,Quatre Ã©toiles,JosÃ© Garcia|Isabelle CarrÃ©|RenÃ©e Le Calm|Fr...,NaN,Christian Vincent,NaN,...,No overview found.,0,Comedy,NaN,1/1/05,15,5.9,2005,0.000000e+00,0.0
6934,13713,tt0477988,0.071872,0,0,Jean-Philippe,Fabrice Luchini|Johnny Hallyday|Jackie Berroye...,NaN,Laurent Tuel,NaN,...,No overview found.,0,Comedy,FidÃ©litÃ© Productions|StudioCanal|TF1 Films P...,4/5/06,26,5.6,2006,0.000000e+00,0.0
8874,46406,tt0248185,0.069903,0,0,Mission Kashmir,Sanjay Dutt|Hrithik Roshan|Preity Zinta|Jackie...,NaN,Vidhu Vinod Chopra,NaN,...,A police officer adopts the son and sole survi...,0,Action|Drama|Foreign,NaN,10/27/00,10,5.7,2000,0.000000e+00,0.0

In [17]:
zero_runtime.shape

(31, 21)

# CLEANING THE DATA

In [18]:
df.drop(['imdb_id', 'homepage', 'tagline', 'overview','keywords','id','director','vote_count','vote_average'], axis=1, inplace=True)

In [19]:
df

,popularity,budget,revenue,original_title,cast,runtime,genres,production_companies,release_date,release_year,budget_adj,revenue_adj
0,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,2015,1.379999e+08,1.392446e+09
1,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,2015,1.379999e+08,3.481613e+08
2,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2015,1.012000e+08,2.716190e+08
3,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,2015,1.839999e+08,1.902723e+09
4,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2015,1.747999e+08,1.385749e+09
...,...,...,...,...,...,...,...,...,...,...,...,...
10861,0.080598,0,0,The Endless Summer,Michael Hynson|Robert August|Lord 'Tally Ho' B...,95,Documentary,Bruce Brown Films,6/15/66,1966,0.000000e+00,0.000000e+00
10862,0.065543,0,0,Grand Prix,James Garner|Eva Marie Saint|Yves Montand|Tosh...,176,Action|Adventure|Drama,Cherokee Productions|Joel Productions|Douglas ...,12/21/66,1966,0.000000e+00,0.000000e+00
10863,0.065141,0,0,Beregis Avtomobilya,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...,94,Mystery|Comedy,Mosfilm,1/1/66,1966,0.000000e+00,0.000000e+00
10864,0.064317,0,0,"What's Up, Tiger Lily?",Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,80,Action|Comedy,Benedict Pictures Corp.,11/2/66,1966,0.000000e+00,0.000000e+00
10865,0.035919,19000,0,Manos: The Hands of Fate,Harold P. Warren|Tom Neyman|John Reynolds|Dian...,74,Horror,Norm-Iris,11/15/66,1966,1.276423e+05,0.000000e+00

In [20]:
df.dropna(axis = 0,how = 'any',subset =['cast','runtime','genres'],inplace = True)
df

,popularity,budget,revenue,original_title,cast,runtime,genres,production_companies,release_date,release_year,budget_adj,revenue_adj
0,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,2015,1.379999e+08,1.392446e+09
1,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,2015,1.379999e+08,3.481613e+08
2,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2015,1.012000e+08,2.716190e+08
3,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,2015,1.839999e+08,1.902723e+09
4,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2015,1.747999e+08,1.385749e+09
...,...,...,...,...,...,...,...,...,...,...,...,...
10861,0.080598,0,0,The Endless Summer,Michael Hynson|Robert August|Lord 'Tally Ho' B...,95,Documentary,Bruce Brown Films,6/15/66,1966,0.000000e+00,0.000000e+00
10862,0.065543,0,0,Grand Prix,James Garner|Eva Marie Saint|Yves Montand|Tosh...,176,Action|Adventure|Drama,Cherokee Productions|Joel Productions|Douglas ...,12/21/66,1966,0.000000e+00,0.000000e+00
10863,0.065141,0,0,Beregis Avtomobilya,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...,94,Mystery|Comedy,Mosfilm,1/1/66,1966,0.000000e+00,0.000000e+00
10864,0.064317,0,0,"What's Up, Tiger Lily?",Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,80,Action|Comedy,Benedict Pictures Corp.,11/2/66,1966,0.000000e+00,0.000000e+00
10865,0.035919,19000,0,Manos: The Hands of Fate,Harold P. Warren|Tom Neyman|John Reynolds|Dian...,74,Horror,Norm-Iris,11/15/66,1966,1.276423e+05,0.000000e+00

In [21]:
df.isnull().sum()

popularity                0
budget                    0
revenue                   0
original_title            0
cast                      0
runtime                   0
genres                    0
production_companies    976
release_date              0
release_year              0
budget_adj                0
revenue_adj               0
dtype: int64

In [22]:
df.drop_duplicates(subset =['revenue','budget'])

,popularity,budget,revenue,original_title,cast,runtime,genres,production_companies,release_date,release_year,budget_adj,revenue_adj
0,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,2015,1.379999e+08,1.392446e+09
1,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,2015,1.379999e+08,3.481613e+08
2,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2015,1.012000e+08,2.716190e+08
3,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,2015,1.839999e+08,1.902723e+09
4,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2015,1.747999e+08,1.385749e+09
...,...,...,...,...,...,...,...,...,...,...,...,...
10828,0.402730,3000000,13000000,Torn Curtain,Paul Newman|Julie Andrews|Lila Kedrova|HansjÃ¶...,128,Mystery|Thriller,Universal Pictures,7/13/66,1966,2.015404e+07,8.733419e+07
10829,0.395668,4653000,6000000,El Dorado,John Wayne|Robert Mitchum|James Caan|Charlene ...,120,Action|Western,Paramount Pictures|Laurel Productions,12/17/66,1966,3.125892e+07,4.030809e+07
10835,0.299911,12000000,20000000,The Sand Pebbles,Steve McQueen|Richard Attenborough|Richard Cre...,182,Action|Adventure|Drama|War|Romance,Twentieth Century Fox Film Corporation|Solar P...,12/20/66,1966,8.061618e+07,1.343603e+08
10848,0.207257,5115000,12000000,Fantastic Voyage,Stephen Boyd|Raquel Welch|Edmond O'Brien|Donal...,100,Adventure|Science Fiction,Twentieth Century Fox Film Corporation,8/24/66,1966,3.436265e+07,8.061618e+07
10865,0.035919,19000,0,Manos: The Hands of Fate,Harold P. Warren|Tom Neyman|John Reynolds|Dian...,74,Horror,Norm-Iris,11/15/66,1966,1.276423e+05,0.000000e+00

In [23]:
df['budget'] = df['budget'].replace(0, np.NaN)
df['revenue'] = df['revenue'].replace(0, np.NaN)
df['runtime'] =df['runtime'].replace(0,np.NaN)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10768 entries, 0 to 10865
Data columns (total 12 columns):
popularity              10768 non-null float64
budget                  5158 non-null float64
revenue                 4845 non-null float64
original_title          10768 non-null object
cast                    10768 non-null object
runtime                 10738 non-null float64
genres                  10768 non-null object
production_companies    9792 non-null object
release_date            10768 non-null object
release_year            10768 non-null int64
budget_adj              10768 non-null float64
revenue_adj             10768 non-null float64
dtypes: float64(6), int64(1), object(5)
memory usage: 1.1+ MB

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10768 entries, 0 to 10865
Data columns (total 12 columns):
popularity              10768 non-null float64
budget                  5158 non-null float64
revenue                 4845 non-null float64
original_title          10768 non-null object
cast                    10768 non-null object
runtime                 10738 non-null float64
genres                  10768 non-null object
production_companies    9792 non-null object
release_date            10768 non-null object
release_year            10768 non-null int64
budget_adj              10768 non-null float64
revenue_adj             10768 non-null float64
dtypes: float64(6), int64(1), object(5)
memory usage: 1.1+ MB

In [25]:
df.shape

(10768, 12)

In [26]:
df.describe()

,popularity,budget,revenue,runtime,release_year,budget_adj,revenue_adj
count,10768.000000,5.158000e+03,4.845000e+03,10738.000000,10768.000000,1.076800e+04,1.076800e+04
mean,0.650919,3.080661e+07,8.930540e+07,102.698547,2001.284268,1.770819e+07,5.182865e+07
std,1.003519,3.892078e+07,1.621300e+08,30.469401,12.815589,3.442199e+07,1.452066e+08
min,0.000065,1.000000e+00,2.000000e+00,3.000000,1960.000000,0.000000e+00,0.000000e+00
25%,0.209987,6.000000e+06,7.770731e+06,90.000000,1995.000000,0.000000e+00,0.000000e+00
50%,0.386117,1.729000e+07,3.189900e+07,99.000000,2006.000000,0.000000e+00,0.000000e+00
75%,0.719231,4.000000e+07,1.000000e+08,112.000000,2011.000000,2.103337e+07,3.431347e+07
max,32.985763,4.250000e+08,2.781506e+09,900.000000,2015.000000,4.250000e+08,2.827124e+09

# QUES - What is the average number of words in movie titles between the year 2000-2005?

In [27]:
movies= df[(df['release_year'] >= 2000) & (df['release_year'] <= 2005)]
movies

,popularity,budget,revenue,original_title,cast,runtime,genres,production_companies,release_date,release_year,budget_adj,revenue_adj
2633,8.575419,93000000.0,871368364.0,The Lord of the Rings: The Fellowship of the Ring,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,178.0,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,12/18/01,2001,1.145284e+08,1.073080e+09
2634,8.021423,125000000.0,976475550.0,Harry Potter and the Philosopher's Stone,Daniel Radcliffe|Rupert Grint|Emma Watson|John...,152.0,Adventure|Fantasy|Family,1492 Pictures|Warner Bros.|Heyday Films,11/16/01,2001,1.539360e+08,1.202518e+09
2635,4.436367,15000000.0,20117339.0,Mulholland Drive,Naomi Watts|Laura Harring|Ann Miller|Dan Heday...,147.0,Thriller|Drama|Mystery,Asymmetrical Productions|Les Films Alain Sarde...,5/16/01,2001,1.847232e+07,2.477426e+07
2636,3.851009,6000000.0,1270522.0,Donnie Darko,Jake Gyllenhaal|Patrick Swayze|Drew Barrymore|...,113.0,Fantasy|Drama|Mystery,Pandora Cinema|Flower Films|Adam Fields Produc...,1/18/01,2001,7.388929e+06,1.564633e+06
2637,3.204295,115000000.0,562816256.0,"Monsters, Inc.",John Goodman|Billy Crystal|Mary Gibbs|Steve Bu...,92.0,Fantasy|Animation|Family|Comedy,Walt Disney Pictures|Pixar Animation Studios,11/1/01,2001,1.416211e+08,6.931015e+08
...,...,...,...,...,...,...,...,...,...,...,...,...
8883,0.015997,15000000.0,5217498.0,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,105.0,Thriller,Warner Bros. Pictures,7/19/00,2000,1.899438e+07,6.606877e+06
8884,0.006865,NaN,NaN,Phir Bhi Dil Hai Hindustani,Juhi Chawla|Shah Rukh Khan|Johnny Lever|Shakti...,168.0,Romance|Comedy|Drama,NaN,1/21/00,2000,0.000000e+00,0.000000e+00
8885,0.005784,NaN,NaN,The Tao of Steve,Donal Logue|Ayelet Kaznelson|John Hines|John H...,87.0,Comedy|Romance,Good Machine|Thunderhead Productions,8/4/00,2000,0.000000e+00,0.000000e+00
8886,0.080819,NaN,NaN,George Washington,Candace Evanofski|Donald Holden|Damian Jewan L...,89.0,Drama,NaN,10/1/00,2000,0.000000e+00,0.000000e+00
8887,0.004010,NaN,NaN,Is It Fall Yet?,Tracy Grandstaff|Wendy Hoopes,75.0,Animation|Comedy,NaN,8/27/00,2000,0.000000e+00,0.000000e+00

In [28]:
movies['original_title'].shape

(1678,)

In [63]:
  count= 0 
for title in movies['original_title']:
    words = title.split(' ')
    count = count +len(words)
total_entries = len(movies['original_title'])
meanwords = count/total_entries
print("The average number of words in movie titles between the year 2000-2005 is : (%d) "%(meanwords) + str(meanwords) )

The average number of words in movie titles between the year 2000-2005 is : (2) 2.8814064362336116

# QUES - Which are the movies with the third lowest and third highest budget?

In [30]:
df.nlargest(3,'budget')

,popularity,budget,revenue,original_title,cast,runtime,genres,production_companies,release_date,release_year,budget_adj,revenue_adj
2244,0.250540,425000000.0,1.108757e+07,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,100.0,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/10,2010,4.250000e+08,1.108757e+07
3375,4.955130,380000000.0,1.021683e+09,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,136.0,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/11,2011,3.683713e+08,9.904175e+08
7387,4.965391,300000000.0,9.610000e+08,Pirates of the Caribbean: At World's End,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,169.0,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,5/19/07,2007,3.155006e+08,1.010654e+09

In [31]:
third_highest_budget = df.query('budget==300000000.0')
third_highest_budget['original_title']

7387    Pirates of the Caribbean: At World's End
Name: original_title, dtype: object

In [32]:
df.nsmallest(3,'budget')

,popularity,budget,revenue,original_title,cast,runtime,genres,production_companies,release_date,release_year,budget_adj,revenue_adj
1151,0.177102,1.0,NaN,Fear Clinic,Thomas Dekker|Robert Englund|Cleopatra Coleman...,95.0,Horror,Dry County Films|Anchor Bay Entertainment|Movi...,10/31/14,2014,0.921091,0.000000
2618,0.090186,1.0,100.0,Lost & Found,David Spade|Sophie Marceau|Ever Carradine|Step...,95.0,Comedy|Romance,Alcon Entertainment|Dinamo Entertainment,4/23/99,1999,1.309053,130.905285
3065,0.472691,1.0,NaN,"Angus, Thongs and Perfect Snogging",Georgia Groome|Eleanor Tomlinson|Aaron Taylor-...,100.0,Comedy|Drama|Family|Romance,Paramount Pictures|Nickelodeon Movies|Stella-d...,7/25/08,2008,1.012787,0.000000

In [33]:
third_lowest_budget = df.query('budget==1.0')
third_lowest_budget['original_title']

1151                           Fear Clinic
2618                          Lost & Found
3065    Angus, Thongs and Perfect Snogging
3581               Love, Wedding, Marriage
Name: original_title, dtype: object

In [34]:
print( "Movies having the 3rd highest budget include :")
high = third_highest_budget['original_title'].to_string(index= False)
print(high)
print(end ='\n')
print("Movies having the 3rd lowerst budget include: ")
low = third_lowest_budget['original_title'].to_string(index = False)
print(low)

Movies having the 3rd highest budget include :
 Pirates of the Caribbean: At World's End

Movies having the 3rd lowerst budget include:
                        Fear Clinic
                       Lost & Found
 Angus, Thongs and Perfect Snogging
            Love, Wedding, Marriage

# QUES - What is the average runtime of movies in the year 2006?

In [35]:
df['release_year'].unique()

array([2015, 2014, 1977, 2009, 2010, 1999, 2001, 2008, 2011, 2002, 1994,
       2012, 2003, 1997, 2013, 1985, 2005, 2006, 2004, 1972, 1980, 2007,
       1979, 1984, 1983, 1995, 1992, 1981, 1996, 2000, 1982, 1998, 1989,
       1991, 1988, 1987, 1968, 1974, 1975, 1962, 1964, 1971, 1990, 1961,
       1960, 1976, 1993, 1967, 1963, 1986, 1973, 1970, 1965, 1969, 1978,
       1966], dtype=int64)

In [36]:
year_2006 =  df['release_year']==2006
df[year_2006]

,popularity,budget,revenue,original_title,cast,runtime,genres,production_companies,release_date,release_year,budget_adj,revenue_adj
6554,5.838503,50000000.0,1.113408e+08,Underworld: Evolution,Kate Beckinsale|Scott Speedman|Tony Curran|Sha...,106.0,Fantasy|Action|Science Fiction|Thriller,Lakeshore Entertainment|Screen Gems,1/12/06,2006,5.408346e+07,1.204339e+08
6555,4.205992,200000000.0,1.065660e+09,Pirates of the Caribbean: Dead Man's Chest,Johnny Depp|Orlando Bloom|Keira Knightley|Bill...,151.0,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,6/20/06,2006,2.163338e+08,1.152691e+09
6556,3.941265,120000000.0,4.619831e+08,Cars,Owen Wilson|Paul Newman|Bonnie Hunt|Larry the ...,117.0,Animation|Adventure|Comedy|Family,Walt Disney Pictures|Pixar Animation Studios,6/8/06,2006,1.298003e+08,4.997129e+08
6557,3.789580,150000000.0,5.990460e+08,Casino Royale,Daniel Craig|Eva Green|Mads Mikkelsen|Judi Den...,144.0,Adventure|Action|Thriller,Eon Productions,11/14/06,2006,1.622504e+08,6.479695e+08
6558,3.655536,125000000.0,7.582399e+08,The Da Vinci Code,Tom Hanks|Audrey Tautou|Ian McKellen|Paul Bett...,149.0,Thriller|Mystery,Columbia Pictures|Imagine Entertainment|Skylar...,5/17/06,2006,1.352086e+08,8.201647e+08
...,...,...,...,...,...,...,...,...,...,...,...,...
6957,0.013578,NaN,NaN,Deutschland. Ein SommermÃ¤rchen,Jens Lehmann|Arne Friedrich|Philipp Lahm|Torst...,107.0,Documentary,Little Shark Entertainment GmbH,10/3/06,2006,0.000000e+00,0.000000e+00
6958,0.012132,NaN,NaN,Hell,Nicolas Duvauchelle|Christiane Millet|Didier S...,100.0,Drama,NaN,3/1/06,2006,0.000000e+00,0.000000e+00
6959,0.153217,NaN,1.302276e+07,How to Eat Fried Worms,Luke Benward|Hallie Kate Eisenberg|Adam Hicks|...,98.0,Comedy|Drama|Family,New Line Cinema,1/1/06,2006,0.000000e+00,1.408631e+07
6960,0.005412,2700000.0,NaN,ì§íŒ¨,Ahn Jae-mo|Ahn Gil-kang|Jeong Seok-yong|Lee Be...,92.0,Action|Thriller,Weyunaegang Productions,5/25/06,2006,2.920507e+06,0.000000e+00
6961,0.001115,NaN,NaN,Khosla Ka Ghosla!,Anupam Kher|Boman Irani|Parvin Dabas|Tara Shar...,135.0,Comedy,UTV Motion Pictures,9/22/06,2006,0.000000e+00,0.000000e+00

In [37]:
df[year_2006].shape

(404, 12)

In [38]:
new_df = df[year_2006]

In [39]:
new_df.describe()

,popularity,budget,revenue,runtime,release_year,budget_adj,revenue_adj
count,404.000000,2.100000e+02,2.060000e+02,403.000000,404.0,4.040000e+02,4.040000e+02
mean,0.609710,3.478041e+07,7.900844e+07,102.828784,2006.0,1.955541e+07,4.357665e+07
std,0.680864,4.003740e+07,1.344414e+08,32.162878,0.0,3.642549e+07,1.121919e+08
min,0.001115,2.500000e+03,1.440000e+02,7.000000,2006.0,0.000000e+00,0.000000e+00
25%,0.219717,9.000000e+06,7.939785e+06,90.000000,2006.0,0.000000e+00,0.000000e+00
50%,0.405512,2.000000e+07,3.749076e+07,98.000000,2006.0,6.490015e+05,1.657393e+05
75%,0.745474,5.000000e+07,8.737488e+07,110.000000,2006.0,2.271505e+07,4.133291e+07
max,5.838503,2.700000e+08,1.065660e+09,550.000000,2006.0,2.920507e+08,1.152691e+09

In [40]:
print ('The average runtime of movies in the year 2006 : 98.000000')

The average runtime of movies in the year 2006 : 98.000000

# QUES - Name any 3 production companies which have invested money in worse revenue movies?

In [41]:
df.dropna(axis= 0,how = 'any',subset =['revenue'],inplace = True)
df

,popularity,budget,revenue,original_title,cast,runtime,genres,production_companies,release_date,release_year,budget_adj,revenue_adj
0,32.985763,150000000.0,1.513529e+09,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,124.0,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,2015,1.379999e+08,1.392446e+09
1,28.419936,150000000.0,3.784364e+08,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,120.0,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,2015,1.379999e+08,3.481613e+08
2,13.112507,110000000.0,2.952382e+08,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,119.0,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2015,1.012000e+08,2.716190e+08
3,11.173104,200000000.0,2.068178e+09,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,136.0,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,2015,1.839999e+08,1.902723e+09
4,9.335014,190000000.0,1.506249e+09,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,137.0,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2015,1.747999e+08,1.385749e+09
...,...,...,...,...,...,...,...,...,...,...,...,...
10822,0.670274,7500000.0,3.373669e+07,Who's Afraid of Virginia Woolf?,Elizabeth Taylor|Richard Burton|George Segal|S...,131.0,Drama,Chenault Productions,6/21/66,1966,5.038511e+07,2.266436e+08
10828,0.402730,3000000.0,1.300000e+07,Torn Curtain,Paul Newman|Julie Andrews|Lila Kedrova|HansjÃ¶...,128.0,Mystery|Thriller,Universal Pictures,7/13/66,1966,2.015404e+07,8.733419e+07
10829,0.395668,4653000.0,6.000000e+06,El Dorado,John Wayne|Robert Mitchum|James Caan|Charlene ...,120.0,Action|Western,Paramount Pictures|Laurel Productions,12/17/66,1966,3.125892e+07,4.030809e+07
10835,0.299911,12000000.0,2.000000e+07,The Sand Pebbles,Steve McQueen|Richard Attenborough|Richard Cre...,182.0,Action|Adventure|Drama|War|Romance,Twentieth Century Fox Film Corporation|Solar P...,12/20/66,1966,8.061618e+07,1.343603e+08
10848,0.207257,5115000.0,1.200000e+07,Fantastic Voyage,Stephen Boyd|Raquel Welch|Edmond O'Brien|Donal...,100.0,Adventure|Science Fiction,Twentieth Century Fox Film Corporation,8/24/66,1966,3.436265e+07,8.061618e+07

In [42]:
df.drop_duplicates(subset ='revenue')

,popularity,budget,revenue,original_title,cast,runtime,genres,production_companies,release_date,release_year,budget_adj,revenue_adj
0,32.985763,150000000.0,1.513529e+09,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,124.0,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,2015,1.379999e+08,1.392446e+09
1,28.419936,150000000.0,3.784364e+08,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,120.0,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,2015,1.379999e+08,3.481613e+08
2,13.112507,110000000.0,2.952382e+08,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,119.0,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2015,1.012000e+08,2.716190e+08
3,11.173104,200000000.0,2.068178e+09,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,136.0,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,2015,1.839999e+08,1.902723e+09
4,9.335014,190000000.0,1.506249e+09,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,137.0,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2015,1.747999e+08,1.385749e+09
...,...,...,...,...,...,...,...,...,...,...,...,...
10793,0.226002,1000000.0,3.713768e+06,Watership Down,John Hurt|Richard Briers|Michael Graham Cox|Jo...,88.0,Adventure|Animation|Drama,Nepenthe Productions|Watership Productions,10/14/78,1978,3.342701e+06,1.241401e+07
10812,0.318883,NaN,5.438927e+06,Gray Lady Down,Charlton Heston|David Carradine|Stacy Keach|Ne...,111.0,Thriller|Adventure|History|Drama,Universal Pictures|The Mirisch Corporation,3/10/78,1978,0.000000e+00,1.818071e+07
10817,0.064029,NaN,3.219520e+05,The Last Waltz,Robbie Robertson|Rick Danko|Levon Helm|Richard...,117.0,Documentary|Music,FM Productions|Last Waltz Inc.,5/1/78,1978,0.000000e+00,1.076189e+06
10819,0.044675,NaN,7.800000e+07,Hooper,Burt Reynolds|Robert Klein|Adam West|Jan-Micha...,107.0,Action|Comedy,Warner Bros.,7/28/78,1978,0.000000e+00,2.607307e+08
10822,0.670274,7500000.0,3.373669e+07,Who's Afraid of Virginia Woolf?,Elizabeth Taylor|Richard Burton|George Segal|S...,131.0,Drama,Chenault Productions,6/21/66,1966,5.038511e+07,2.266436e+08

In [43]:
df['production_companies'].dropna(inplace = True)
df

,popularity,budget,revenue,original_title,cast,runtime,genres,production_companies,release_date,release_year,budget_adj,revenue_adj
0,32.985763,150000000.0,1.513529e+09,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,124.0,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,2015,1.379999e+08,1.392446e+09
1,28.419936,150000000.0,3.784364e+08,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,120.0,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,2015,1.379999e+08,3.481613e+08
2,13.112507,110000000.0,2.952382e+08,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,119.0,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2015,1.012000e+08,2.716190e+08
3,11.173104,200000000.0,2.068178e+09,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,136.0,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,2015,1.839999e+08,1.902723e+09
4,9.335014,190000000.0,1.506249e+09,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,137.0,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2015,1.747999e+08,1.385749e+09
...,...,...,...,...,...,...,...,...,...,...,...,...
10822,0.670274,7500000.0,3.373669e+07,Who's Afraid of Virginia Woolf?,Elizabeth Taylor|Richard Burton|George Segal|S...,131.0,Drama,Chenault Productions,6/21/66,1966,5.038511e+07,2.266436e+08
10828,0.402730,3000000.0,1.300000e+07,Torn Curtain,Paul Newman|Julie Andrews|Lila Kedrova|HansjÃ¶...,128.0,Mystery|Thriller,Universal Pictures,7/13/66,1966,2.015404e+07,8.733419e+07
10829,0.395668,4653000.0,6.000000e+06,El Dorado,John Wayne|Robert Mitchum|James Caan|Charlene ...,120.0,Action|Western,Paramount Pictures|Laurel Productions,12/17/66,1966,3.125892e+07,4.030809e+07
10835,0.299911,12000000.0,2.000000e+07,The Sand Pebbles,Steve McQueen|Richard Attenborough|Richard Cre...,182.0,Action|Adventure|Drama|War|Romance,Twentieth Century Fox Film Corporation|Solar P...,12/20/66,1966,8.061618e+07,1.343603e+08
10848,0.207257,5115000.0,1.200000e+07,Fantastic Voyage,Stephen Boyd|Raquel Welch|Edmond O'Brien|Donal...,100.0,Adventure|Science Fiction,Twentieth Century Fox Film Corporation,8/24/66,1966,3.436265e+07,8.061618e+07

In [44]:
df.describe()

,popularity,budget,revenue,runtime,release_year,budget_adj,revenue_adj
count,4845.000000,3.851000e+03,4.845000e+03,4845.000000,4845.000000,4.845000e+03,4.845000e+03
mean,1.046037,3.723839e+07,8.930540e+07,107.975645,2000.917853,3.519511e+07,1.151891e+08
std,1.357018,4.220955e+07,1.621300e+08,21.114230,11.570711,4.376637e+07,1.989137e+08
min,0.001117,1.000000e+00,2.000000e+00,15.000000,1960.000000,0.000000e+00,2.370705e+00
25%,0.388036,1.000000e+07,7.770731e+06,95.000000,1994.000000,2.340083e+06,1.047749e+07
50%,0.680780,2.400000e+07,3.189900e+07,104.000000,2004.000000,2.032801e+07,4.401746e+07
75%,1.210531,5.000000e+07,1.000000e+08,117.000000,2010.000000,4.973516e+07,1.316650e+08
max,32.985763,4.250000e+08,2.781506e+09,705.000000,2015.000000,4.250000e+08,2.827124e+09

In [45]:
# count = sns.countplot(df['revenue'])
# count
# count.set_xticklabels(count.get_xticklabels(), rotation=90)

In [46]:
rev =np.sort(df['revenue'],axis = -1)
# rev = sorted(df['revenue'],reverse= False)
rev

array([2.00000000e+00, 2.00000000e+00, 3.00000000e+00, ...,
       1.84503419e+09, 2.06817822e+09, 2.78150585e+09])

In [47]:
pro_comp = []
for i,j in zip(df['revenue'],df['production_companies']):
    if i == 2.00000000e+00 or i == 3.00000000e+00 :
        pro_comp.append(j)
pro_comp

['Universal Pictures|A Band Apart|Zehnte Babelsberg|Visiona Romantica',
 'Summit Entertainment|Saturn Films|Nu Image Films|Millennium Films|Michael De Luca Productions',
 "Twentieth Century Fox Film Corporation|Donners' Company|Bad Hat Harry Productions|Marvel Enterprises|XM2 Productions",
 'Merchant Ivory Productions']

In [48]:
import random
# pro = random.choice(pro_comp)*3
pro =random.sample(pro_comp, 3)
print("Any 3 production companies which have invested money in worse revenue movies:",end = '\n ' + str(pro))

Any 3 production companies which have invested money in worse revenue movies:
 ['Universal Pictures|A Band Apart|Zehnte Babelsberg|Visiona Romantica', "Twentieth Century Fox Film Corporation|Donners' Company|Bad Hat Harry Productions|Marvel Enterprises|XM2 Productions", 'Summit Entertainment|Saturn Films|Nu Image Films|Millennium Films|Michael De Luca Productions']